:root{
  --color-lightseagreen: lightseagreen;
  --color-aqua: aqua;
  --color-lightgray: lightgray;
  --color-white: #FFF;

  --border: 1px solid var(--color-lightseagreen);
  --border-button: 1px solid var(--color-white);
  --border-radius: 15px;
  --border-radius-middle: 10px;
  --border-radius-small: 5px;

  --margin: auto;
}